.inverno{
    background-color: darkgray;
    color: black;
}
.verao{
    background-color: darkorange;
    color: black;
}
.outono{
    background-color: brown;
    color: black;
}
.primavera{
    background-color: forestgreen;
    color: black;
}